h1{text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
body{
    background-color:tomato;
    padding: 0px;
    margin: 0px;
}

header{background-color:lightgreen;
    padding-top: 10px;
}
div{margin-left: 25%;
height: 300px;
padding: 1px -30px;
background-image: url("home.v1.png");
}

ul{padding: 0px;
margin: 0px;
list-style-type: none;
width: 25%;
position: fixed;
top: 0;
overflow: auto;
height: 100%;

}

li a{text-decoration: none;
display: block;
padding: 8px 16px;}
li a.active{background-color: green;
    color: white;
}
li a:hover:not(active){background-color: darkblue;
    color: chartreuse;
}
       @media screen and (max-width: 400px){ul li.a{text-align: center;
    float: none;}}
